


.mini_popup_modal {
   
    position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
      // padding: 15px;
      
      
      background-color: white;
      border: 1px solid #ccc;
  
     
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
      transition: 0.3s all;
      
    }
   .overlay{
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      position: fixed;
      top: 0;
      left: 0;
      display: grid;
      
      place-items: center;
      z-index: 100;
   }
   .heading{
      color: #fff !important;
      font-size: 18px !important;
      font-weight: 400 !important;
      margin-left: 10px !important;
      
   }
   .popup_head{
  
      width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
    padding: 10px 0;
    color: #fff !important;
   // background-color: var(--lightdarkBG) !important;
   background-color: rgb(16, 110, 190);
   }
   .ms-Panel-contentInner{
    position: relative;
   }
    .absolute{
    position: absolute;
    bottom: 0;
    right: 0;
    }
  //   .mini_popup_modal.visible {
  //     display: block;
  //   }
    .message{
      text-align: center !important;
      font-size: 15px !important;
      font-weight: 400 !important;
    }
    .child_content{
      padding: 15px;
      overflow-y:auto !important; 
      transition: all 2s ease-in-out !important;
     
    }
    .elementToFadeInAndOut {
      -webkit-animation: fadeinout 2s linear forwards infinite;
      animation: fadeinout 2s linear forwards infinite;
      opacity: 0;
    }
    .CSVPanelMain {
      height: 100%;
      padding-top: 3%;
      box-sizing: border-box;
      padding: 5px;
    }
    .initechOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
      border-right: solid 3px #c8c8c8ed
    }
    .closeEmpDetails {
      position: absolute;
      right: 20px;
      top: 15px;
      cursor: pointer;
    }
    .orgCharHead {
      //margin: -20px 0px 20px;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      //color: '[theme:themePrimary]';
      color:rgb(66, 68, 217)
    }
    .recordsload {
      width: 92% !important;
      padding-top: 6px;
      padding-bottom: 3px;
    }
    .settingViewLabel {
      padding: 0px;
    }
    
    #initechOrgChart .nodeLineBorderTop {
      border-top: solid 3px #c8c8c8ed;
    }
    .importCSVFile {
      width: 40%;
      float: left;
      color: #333;
    }
    .importCSVFileBlk {
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }
    .uploadCSVblkStylesAD .downloadButtonAD {
      max-width: 50%;
      border-radius: 20px;
      margin-bottom: 2%;
    }
    .uploadCSVblkStyles {
      width: 100%;
    }
    .activeColor {
      background-color: "[theme:themePrimary]" !important;
      color: #fff !important;
    }
    .tablescroll {
      overflow: auto;
    }
    .customTable {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #ddd;
      margin: 1% 0%;
      white-space: nowrap;
    }
    .customTable th {
      font-size: 14px;
      font-weight: 500;
      //color: "[theme:themePrimary]";
      color:"gray";
      text-align: left;
      border-right: 1px solid #ddd;
      padding: 8px;
      border-bottom: 1px solid #ddd;
      background-color: "gray";
    }
    
    .excludeTable td,
    .usersTable td,
    .customTable td {
      font-size: 14px;
      font-weight: 400;
      color: #333;
      border-right: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }    
    .customTable tr td:first-child {
      width: 12%;
    }
    .fieldSubmitBtn {
      // width: 10%;
      display: flex;
      gap: 10px;
      padding: 10px 0px;
    }
    .newgridcustom {
      width: 100%;
      display: grid;
      grid-template-columns: 92px 80px 132px 172px;
    }
    .addCustomBlock .customfieldBlock:nth-child(2) {
      max-width: 120px;
    }
    .customfieldBlock {
      -webkit-box-flex: 0;
      flex-flow: column;
      // flex: 0 1 100%;
      // margin-right: 2%;
    }
   
    .addCustomBlock {
      display: flex;
      flex-flow: row;
      margin-bottom: 1%;
      margin-top: 2%;
    }
    .btn_box{
      display: flex;
      justify-content: center;
      gap: 10px;
      
      
    }
   
    .cancel-icon{
     color:#fff !important;
     font-size: 20px !important;
      cursor: pointer;
      margin-right: 10px !important;
      
    }
    .ms-Panel-navigation {
      //background-color: "[theme:themePrimary]";
      background-color: rgb(0, 120, 212);
      padding: 6px 0px;
      height: 30px;
    }
  
    .popup_btn {
     
      font-size: 18px;
      outline: none;
      font-weight: 600;
      padding: 10px 30px;
      background-color:  var(--lightdarkBG);
      border: 1px solid gray;
     
      
      cursor: pointer;
      background-color: transparent;
    }
    .popup_head h3{
      margin: 0;
    }
    .primary{
       background-color:  var(--lightdarkBG)
       ;
       color:#fff;
  
    }
    .primary:hover{
      background-color:var(--lightdarkHoverBG) !important;
     
    }
    .close{
      color: black !important;
    }
    .close:hover{
      color: black !important;
      background-color: transparent !important;
    }
    .close{
      color: black !important;
    }
   
    .toptip{
      color:#fff !important;
      height: 22px !important;
    }
    .toptip:hover{
      background-color: transparent;
    }
   .popInnerBox{
       position:absolute !important;
       width:100% !important;
       background:#fff !important;
   }

   .filterChecks .ms-Checkbox-text {
    width: 70px;
    //overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .collCheckView .ms-Checkbox-text {
    color: #333;
    max-width: 59px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .settingBlockSubDiv {
    width: 70%;
  }
  
.settingBlockLeftDiv {
  flex-flow: row;
}
.settingBlockSubDiv {
  width: 70%;
}
.tabMainDiv {
  width: 100%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.excludeTable,
.usersTable,
.customTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin: 1% 0%;
  white-space: nowrap;
}
.excludeTable th,
.usersTable th,
.customTable th {
  font-size: 14px;
  font-weight: 500;
  color: "[theme:themePrimary]";
  text-align: left;
  border-right: 1px solid #ddd;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  background-color: "[theme:neutralLight]";
}

.excludeTable td,
.usersTable td,
.customTable td {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-right: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.settingBlockLink button {
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.eoDropdown {
  flex: 1;
  // max-width: 100%;
  width: 83%;
}
.settingBlockBtnDiv {
  // width: 30%;
  margin-top: 5% !important;
}